<div class= "container">
  
  <h1> Hello </h1>
  <div class: "card " style= "width: 18rem;">
    <%= image_tag @user.avatar_url.to_s, size: "100x100" , class: "card-img-top"  %>
    <div class: "card-body">
      <em class: "card-text"><%= @user.full_name %></em>
    </div>
  </div>

  <h1> All my posts</h1>


  <% @posts.each do |post| %>
    <em>Title:</em><%= post.title %> </br>
    <em>Description:</em><%= post.description %> </br>
  <% end %>
</div>

<div class= container >
  <p> <%= link_to 'friend_request_sent', user_pending_request_path(@user),class: "btn btn-sm btn-success" %> </p>
  
  <p> <%= link_to 'friend_request_recieved', user_receieved_request_path(@user),class: "btn btn-sm btn-success" %></p>
  
  <p><%= link_to 'friends', user_friends_path(@user), class: "btn btn-sm btn-success" %></p>
</div>


