<h1>  Your Post </h1>
<em>Title:</em><%= @post.title %> </br>
<em>Description:</em><%= @post.description %> </br>
<em>By:<%= @post.user.full_name %></em>
</br>
<% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= link_to 'Unlike', "#{@post.id}/likes/#{pre_like.id}", method: :delete , remote: true %>
<% else %>
  <%= link_to 'Like', "#{@post.id}/likes", method: :post, remote:true %>
<% end %>

<%= @post.likes.count %>
</br>
------- view all comments here ---------</br>
<% @comments.each do |comment| %>
  <strong>By: <%= comment.user.first_name %></strong> <i><%= comment.com %></i>
  

  <%= link_to 'Delete', "/posts/#{comment.post.id}/comments/#{comment.id}", method: :delete, remote: true %>

  <%= link_to 'Edit', "/posts/#{comment.post.id}/comments/#{comment.id}/edit", method: :get %>
  </br>

<% end %>

</br>

<%= render 'comments/form' %>

