<h1>  Your Post </h1>
<em>Title:</em><%= @post.title %> </br>
<em>Description:</em><%= @post.description %> </br>
<em>By:<%= @post.user.full_name %></em>
</br>
------- view all comments here ---------</br>
<% @comments.each do |comment| %>
  <strong>By: <%= comment.user.first_name %></strong> <i><%= comment.com %></i>
  

  <%= link_to 'Delete', "/posts/#{comment.post.id}/comments/#{comment.id}", method: :delete %>

  <%= link_to 'Edit', "/posts/#{comment.post.id}/comments/#{comment.id}/edit", method: :get %>
  </br>

<% end %>

</br>

<%= render 'comments/form' %>
