<h1>  Your Post </h1>
<em>Title:</em><%= @post.title %> </br>
<em>Description:</em><%= @post.description %>

</br>
------- view all comments here ---------
<% @comments.each do |comment| %>
  <p><%= comment.com %></p>
<% end %>

</br>

<%= form_with model: [ @post, @post.comments.build ], local: true do |form| %>
  <p>
    <%= form.label :com, "Add your comment here" %><br>
    <%= form.text_field :com %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
